openapi: 3.1.0
info:
  title: Assurant APEX Embedded Insurance Claims Products API
  description: The Assurant APEX (Assurant Product Experience Exchange) platform provides embedded insurance APIs that enable partners to integrate protection products, claims management, and diagnostics into their workflows. The scalable API platform supports 99.95% uptime and covers multiple product lines across various industries.
  version: '2026-01-01'
  contact:
    name: Assurant Developer Portal
    url: https://api-prod.portal.assurant.com
servers:
- url: https://api-prod.portal.assurant.com
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Products
  description: Insurance product catalog
paths:
  /products:
    get:
      operationId: listProducts
      summary: List insurance products
      description: Retrieve available insurance and protection products.
      tags:
      - Products
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - device-protection
          - renters-insurance
          - auto
          - connected-living
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
components:
  schemas:
    Product:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        category:
          type: string
        description:
          type: string
        pricing:
          type: object
          properties:
            amount:
              type: number
              format: double
            currency:
              type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
externalDocs:
  description: Assurant APEX Documentation
  url: https://www.assurant.com/partner-with-us/apex
